* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-image: url("images/Inicio.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.6s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Capa oscura */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1;
}

.container {
    position: relative;
    z-index: 10;
    text-align: center;
    color: white;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.buttons {
    position: relative;
    display: flex;
    gap: 30px;
    justify-content: center;
}

button {
    padding: 18px 40px;
    font-size: 1.3rem;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    z-index: 20;
}

/* BOTONES */
#yesBtn {
    background-color: #ff4d6d;
    color: white;
}

#noBtn {
    background-color: #444;
    color: white;
    position: absolute;
}

/* CELULAR */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
}


