body {
  background-image: url("images/inicio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-image 0.6s ease-in-out;
}

h1 {
  color: #ff4d6d;
}

.buttons {
  margin-top: 30px;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}

#yes {
  background-color: #4CAF50;
  color: white;
}

#no {
  background-color: #f44336;
  color: white;
  position: absolute;
}
